email=dev@unikum.net
@unikum:registry=https://nexus.unikum.us/repository/unikum-npm/

# make sure to
# $ export npm_config__auth="foo"
# to be able to publish to nexus
# or login to the registry
# $ npm login --registry=https://nexus.unikum.us/repository/unikum-npm/
