.Header {
  /* stylelint-disable-next-line rule-empty-line-before */
  .container {
    align-items: center;
    display: flex;
    height: 64px;
    position: relative;
  }

  &-switch {
    margin-left: auto;
    position: relative;
    @include mq {
      display: none;
    }
  }

  &-menu {
    background-color: white;
    box-shadow: 0 10px 30px rgba($color: black, $alpha: 0.2);
    display: flex;
    flex-direction: column;
    left: 0;
    // display: none;
    opacity: 0;
    padding-bottom: 20px;
    padding-left: $gutter;
    padding-right: $gutter;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateX(100%);
    transition: 0.2s;
    @include mq('tablet') {
      background-color: transparent;
      box-shadow: none;
      display: flex;
      flex-direction: row;
      margin-left: auto;
      opacity: 1;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      pointer-events: auto;
      position: static;
      transform: translateX(0);
      transition: 0s;
    }

    .Header.menu-show & {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }

    &-user {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      @include mq('tablet') {
        flex-direction: row;
      }

      a {
        align-items: center;
        display: inline-flex;
        height: $finger-size;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;

        &:hover {
          background-color: #eee;
        }
      }
    }

    &-property {
      justify-content: center;
      margin-top: 20px;
      @include mq('tablet') {
        margin-top: 0;
      }
    }

    &-helper {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      @include mq {
        margin-left: 20px;
        margin-top: 0;
      }

      select {
        appearance: none;
        background-color: transparent;
        border: 1px solid #e0e6f1;
        border-radius: 0;
        color: $color-navy;
        padding-left: 10px;
        padding-right: 10px;

        &:nth-child(1) {
          border-bottom-left-radius: $border-radius;
          border-top-left-radius: $border-radius;
        }

        &:nth-child(2) {
          border-bottom-right-radius: $border-radius;
          border-left-width: 0;
          border-top-right-radius: $border-radius;
        }
      }
    }
  }

  .Header-logo img {
    width: 144px;
  }
}
