const { join } = require('path')
// eslint-disable-next-line import/no-extraneous-dependencies
const {
  eslint: {
    base: { getBaseESLint },
  },
} = require('@unikum/base-nodejs')

const configBase = getBaseESLint({
  pathDirRoot: __dirname,
  pathFileTSConfig: join(__dirname, 'tsconfig.eslint.json'),
})

module.exports = {
  ...configBase,
  ignorePatterns: ['build/**/*', 'dist/**/*'],
  rules: {
    ...configBase.rules,
  },
}
