import { join } from 'path'
import { getBase, Config } from '@unikum/base-nodejs/dist/src/jest/base'

const configBase = getBase({
  pathDirRoot: __dirname,
  pathFileTSConfig: join(__dirname, 'tsconfig.json'),
})

export default () =>
  ({
    ...configBase,
    coverageThreshold: {
      global: {
        branches: 95,
        functions: 95,
        lines: 95,
        statements: 95,
      },
    },
  } as Config.InitialOptions)
