import { join } from 'path'
import { getBase, Config } from '@unikum/base-nodejs/dist/src/jest/base'

export default () =>
  ({
    ...getBase({
      pathDirRoot: __dirname,
      pathFileTSConfig: join(__dirname, 'tsconfig.json'),
    }),
    coverageThreshold: {
      global: {
        branches: 95,
        functions: 95,
        lines: 95,
        statements: 95,
      },
    },
  } as Config.InitialOptions)
